<!DOCTYPE html>
<html lang="pt" ng-app="CarCostCalculatorApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Calculadora de Custo do Carro</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <style type="text/css">
input { size: 100px; }
  </style>

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.5/angular-locale_pt-br.min.js"></script>
  <script src="https://cdn.rawgit.com/assisrafael/bower-angular-input-masks/master/angular-input-masks-standalone.min.js"></script>
</head>
<body ng-controller="CarCostCalculatorCtrl">
  <div class="container-fluid">
    <h1>Calculadora de Custo do Carro</h1>
    <p>Você é o feliz proprietário de um carro, usado para lazer no final de semana, e para ir para o trabalho diariamente. Já imaginou que pode ser mais barato ir e voltar de táxi ou Uber e alugar um carro nos finais de semana? Parece absurdo, mas as vezes pensamos só no custo do combustível, e nos esquecemos de todas as variáveis envolvidas.</p>
    <p>Veja a comparação na calculadora abaixo, que já vem preenchida com alguns campos mas a ideia é que você adapte a sua realidade.</p>

    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h3>Carro próprio</h3>
        <table class="table table-stripped">
          <thead>
            <tr>
              <th colspan="2">Custo total anual do carro:</th>
              <th>{{calculateTotalCost()|currency:'R$ '}}</th>
            </tr>
          </thead>
          <thead>
            <tr>
              <th colspan="2">Gasto anual com Combustível:</th>
              <th>{{calculateFuelCost()|currency:'R$ '}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="2">Distância média percorrida (km/mês)</th>
              <td><input class="form-control" type="number" ng-model="params.fuel.km_month"></td>
            </tr>
            <tr>
              <td colspan="2">Consumo de combustível do carro (km/litro)</th>
              <td><input class="form-control" type="text" ng-model="params.fuel.km_per_liter" ui-number-mask="1"></td>
            </tr>
            <tr>
              <td colspan="2">Preço médio do combustível (litro)</th>
              <td><input class="form-control" type="text" ng-model="params.fuel.liter_price" ui-money-mask="3"></td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th colspan="2">Custos Fixos</th>
              <th>{{calculateFixedExpenses()|currency:'R$ '}}</th>
            </tr>
            <tr>
              <th>&nbsp;</th>
              <th>Mensais</th>
              <th>Anuais</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                IPVA<br>
                <small>Imposto sobre a propriedade de veículos automotores</small>
              </td>
              <td>&nbsp;</td>
              <td><input class="form-control" type="text" ng-model="params.fixed_expenses.annual.ipva" ui-money-mask="2"></td>
            </tr>
            <tr>
              <td>
                Seguro<br>
                <small>Valor anual do seguro, caso exista.</small>
              </td>
              <td>&nbsp;</td>
              <td><input class="form-control" type="text" ng-model="params.fixed_expenses.annual.insurance" ui-money-mask="2"></td>
            </tr>
            <tr>
              <td>
                Estacionamento<br>
                <small>Uma média de gasto mensal com estacionamento rotativo.</small>
              </td>
              <td><input class="form-control" type="text" ng-model="params.fixed_expenses.monthly.parking" ui-money-mask="2"></td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>
                Pedágio<br>
                <small>Caso você passe por pedágios no seu dia-a-dia, entre o valor gasto por mês (desconsidere viagens de fim de semana e férias).</small>
              </td>
              <td><input class="form-control" type="text" ng-model="params.fixed_expenses.monthly.toll" ui-money-mask="2"></td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>
                Aluguel de Vaga Residencial<br>
                <small>Valor a ser preenchido caso sua casa ou prédio não tenha garagem e você alugue uma vaga próximo a sua residência.</small>
              </td>
              <td><input class="form-control" type="text" ng-model="params.fixed_expenses.monthly.garage_home" ui-money-mask="2"></td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>
                Aluguel de Vaga Comercial<br>
                <small>Valor a ser preenchido caso seu trabalho não disponibilize vaga de garagem e você alugue uma vaga próximo ao trabalho.</small>
              </td>
              <td><input class="form-control" type="text" ng-model="params.fixed_expenses.monthly.garage_work" ui-money-mask="2"></td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>
                Lavagem<br>
                <small>Custo mensal médio com lava-jato. Caso você mesmo lave seu carro, coloque aqui o valor dos produtos utilizados.</small>
              </td>
              <td><input class="form-control" type="text" ng-model="params.fixed_expenses.monthly.washing" ui-money-mask="2"></td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>
                Multas<br>
                <small>Informe o valor estimado a ser gasto com multas por ano, baseado em anos anteriores.</small>
              </td>
              <td>&nbsp;</td>
              <td><input class="form-control" type="text" ng-model="params.fixed_expenses.annual.fines" ui-money-mask="2"></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="2">Custo total anual do carro:</th>
              <th>{{calculateTotalCost()|currency:'R$ '}}</th>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="col-md-6 col-sm-12">
        <h3>Táxi</h3>
        TODO
      </div>
    </div>

    <p>Debug</p>
    <p><pre>{{params | json}}</pre></p>
  </div>

  <script src="script.js"></script>
</body>
</html>